
.card{
    width: 290px;
    height: 420px;
    box-shadow: 0px 0px 16px 0px #00000095;
    border-radius: 15px;
    
}
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
    padding-inline: 150px;
    padding-block: 95px;
}
.image{
    width: 100%;
    height: 60%;
    
}
.image img{
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;

}
button{
    padding: 13px;
}
.title{
    padding-inline: 15px;
    padding-block: 5px ;
}
h3{
    font-size: 24px;
}
p{
    margin-bottom: 5px;
}
