footer{
    width: 100%;
    height: 50vh;
    background-color: rgb(244, 241, 241);
}

h1{
    color: #000000bf;
    padding: 15px;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 45px;
}
.footer h2{
    padding-block: 8px;
}