

.hero{
    width: 100%;
    height: 90vh;
    background-image: url(../images/pexels-lgh_9-324057-1256875.jpg);
    background-size: cover;
}

.hero h1{
    color: aliceblue;
    font-size: 34px;
    font-weight: 700;
    font-style: cursive;
    padding-bottom: 25px;
}
.info{
    padding-top: 250px;
    padding-left: 200px;
}