*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; 
}

header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-block: 15px;
    padding-inline: 30px;
    font-family: cursive;
    box-shadow: 1px 1px 16px 0px #00000081;
}

.navbar h2{
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: black;
    cursor: pointer;
}
 
nav a{
    color: black;
    margin-right: 15px;
    text-decoration: none;
    font-size: 18px;
}
nav a:hover{
    transform: scale(1.1); 
}